.modal-hero__carousel {
    width: 100%;
    margin: 0px 0px 1vw 0px;
    overflow: hidden;
}

.modal-hero__carousel .modal-hero__carousel-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
